legend{
background-color:green;
text-align:center;
color:white;
padding:1rem;
margin:2rem;


}
body{


padding:4rem;
margin:3rem;

}
#button{
background-color: green;
color:white;
text-align:center;
border-radius:10%;
margin:1rem;
width:7%;
padding:0.5%;
}
#buttons{
text-align:center;

}
form{
background-color:#99ff99;
padding:3rem;
margin:1rem;

border:1px solid black;
}

section1{
position:relative;
left:500pt;
text-align:center;
padding:1rem;
margin:1rem;
}
#title{

margin:1rem;
border:1px solid black;
}
#comment{

margin:1rem;
border:1px solid black;
}