#header{
font-size:20px;
}
#navelements{
position:relative;
left:90pt;
text-decoration: none;
margin:3rem;
color:white;
}
#navbar{

background-color:#99ff99;
}
#right{
float:right;
position:absolute;
right:0;
top:50px;
width:12em;
}

#mainbody{
margin-left:15em;
margin-right:15em;
position:relative;
top:30px;
border:1px solid black;

}

#pic1{


width: 100px ;


float:right;
}


#left{
float:left;
position:absolute;
left:0;
top:50px;
width:12em;
}
#research{
background-color:#ffccff;
margin:0.5rem;
padding:1rem;
}
#education{
border:1px solid black;

position:relative;
top:130px;

}
#badges{
background-color:#cccccc;
margin:0.5rem;
padding:1rem;
}

#header3{
padding:0.5rem;
background-color:#99ff99;
}
#badgesbackground{
background-color:white;
}
#links{
background-color:#cccccc;
margin:0.5rem;
padding:1rem;
}
#badgefloat{
float:right;
position:relative;
bottom:40px;
right:5px;
}
figurecaption{
float:right;
position:relative;
top:135pt;
left:30pt;
}
#pics{
border:1px solid black;
}
footer{
margin-left:15em;
margin-right:15em;
position:relative;
top:140pt;
}
#sidetext{
color: #717d7e ;
font-family:arial;
margin:0.5rem;
padding:1rem;
}
#educationtext{
color: #717d7e ;
font-family:helvetica;
margin:0.5rem;
padding:1rem;
}
#commenttext{
color: #717d7e ;
font-family:helvetica;
margin:0.5rem;
padding:1rem;
text-decoration: none;
}
#edutext{
border:1px solid black;
}