#header{
font-size:20px;
}
#navelements{

text-decoration: none;
margin:3rem;
}
#navbar{
background-color:#99ff99;
}
#right{
float:right;
position:absolute;
right:0;
top:50px;
width:12em;
}

#mainbody{
margin-left:15em;
margin-right:15em;
position:relative;
top:30px;
border-bottom:1px solid black;

}
#pic{


}
#pic1{


width: 70px ;


float:right;
}


#left{
float:left;
position:absolute;
left:0;
top:50px;
width:12em;
}
#research{
background-color:#ffccff;
margin:0.5rem;
padding:1rem;
}
#education{
position:relative;
top:75px;
border-top:1px black;
}
#badges{
background-color:#cccccc;
margin:0.5rem;
padding:1rem;
}

#header3{
padding:0.5rem;
background-color:#99ff99;
}
#badgesbackground{
background-color:white;
}
#links{
background-color:#cccccc;
margin:0.5rem;
padding:1rem;
}
#badgefloat{
float:right;
position:relative;
bottom:40px;
right:5px;
}