h1{
text-align:center;
font-size:30px;
background-color:#800000;
color:white;
font-family:arial;
}
table{

margin:auto;
font-size:20px;

}
table td{


text-align:center;
}


th, td{
padding:10px;
border: 1px solid grey;
}
th{
background:grey;
color:black;
border:1px solid black;
border-collapse:collapse;
}
section{
padding:5px;
}
#resize{

width: 150px;
height:200px; 
border-radius:20%;
padding: 5px;
border-image: 30;


}
#cast{


width: 150px;
height:200px; 
border-radius:20%;
padding: 5px;
border-box:1px solid black;
}
.cast1{
padding:0pt 0pt 0pt;



}
