#header{
font-size:20px;
color:white;
}
#navelements{
position:relative;
left:90pt;
text-decoration: none;
margin:3rem;
color:white;
}
#navbar{

background-color:#34495e;
}
#right{
float:right;
position:absolute;
right:0;
top:50px;
width:12em;
}

#mainbody{
margin-left:15em;
margin-right:15em;
position:relative;
top:30px;
border:1px solid black;

}

#pic1{
width: 100px ;
float:right;
}


#left{
float:left;
position:absolute;
left:0;
top:50px;
width:12em;
}
#research{
background-color:#ffccff;
margin:0.5rem;
padding:1rem;
}
#education{
border:1px solid black;

position:relative;
top:220px;

}
#badges{
background-color:#cccccc;
margin:0.5rem;
padding:1rem;
color:white;

}

#header3{
padding:0.5rem;
background-color:#34495e;
}
#badgesbackground{
background-color:white;
}
#links{
background-color:#cccccc;
margin:0.5rem;
padding:1rem;
}
#badgefloat{
float:right;
position:relative;
bottom:40px;
right:5px;
color:black;
}
figurecaption{
float:right;
position:relative;
top:135pt;
left:30pt;
}
#pics{
border:1px solid black;
}
footer{
margin:0.5rem;
padding:1rem;
margin-left:15em;
margin-right:15em;
position:relative;
top:200pt;
border:1px solid black;
background-color:#34495e;
color:white;
}
#sidetext{
color:#34495e;
font-size:10px;
margin:0.5rem;

}
#educationtext{
color: #34495e; ;
font-family:helvetica;
margin:0.5rem;
padding:1rem;
}
#commenttext{
color: #717d7e ;
font-family:helvetica;
margin:0.5rem;
padding:1rem;
text-decoration: none;
}
#edutext, h2{
border:1px solid black;
color:white;
background-color:#34495e;
}
button{
background-color:#34495e;
border:1px solid black;
color:white;
border-radius:10%;
}
#footernav{
color:white;
text-decoration:none;

}
.otherskills{
color:#34495e;
position:relative;
left:8pt;
margin:0.5rem;

}
