#legend{
background-color:green;
text-align:center;
color:white;
padding:1rem;
margin:2rem;
position:relative;
top:60px

}
body{
position:relative;
bottom:70px
padding:4rem;
margin:3rem;

}


input, select, textarea{
border:1px solid black;
}
form{
background-color:#99ff99;
padding:3rem;
margin:1rem;

border:1px solid black;
}
#section1{
border:1px solid green;
padding:1rem;
margin:1rem;
background-color:#99ff99;
border-collapse:collapse;
}
#section2{
border:1px solid green;
padding:1rem;
margin:1rem;
background-color:#99ff99;
}
#section3{
border:1px solid green;
padding:1rem;
margin:1rem;
background-color:#99ff99;
}
#section4{

padding:1rem;
margin:1rem;
background-color:white;
}
#button{
background-color: green;
color:white;
text-align:center;
border-radius:10%;
margin:1rem;
width:7%;
padding:0.5%;
}

#buttons{
text-align:center;
}
p{
color:black;
font-family: arial;
}
